* {
    font-family: Larsseit, sans-serif;
    margin: 0;
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1130px;
    margin: 0 auto;
}

.main-section {
    background: url("./Images/Group 7.png") no-repeat center / cover;
    height: 840px;
}

header {
    width: 100%;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section__logo {
    text-decoration: none;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

nav ul {
    display: flex;
    list-style: none;
    width: 233px;
    display: flex;
    justify-content: space-between;
}

nav ul a {
    font-size: 14px;
    line-height: 16px;

    color: #22356F;
    text-decoration: none;
}

.main-section__button {
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

.main-section__content {
    margin-top: 170px;
    width: 497px;
}

.main-section__content h1 {
    margin-top: 50px;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
}

.main-section__content p {
    margin-top: 80px;
    font-size: 24px;
    line-height: 42px;

    color: #22356F;
}

.main-section__button_block{
    display: flex;
}

.main-section__button.orange {
    margin-top: 63px;
    width: 150px;
    height: 50px;
    border-radius: 0;
    background: #F9B640;
}


.main-section__button.orange:nth-child(2){
    margin-left: 40px;
}

.section-why {
    position: relative;
    height: 607px;
    width: 100%;
    background: #62D0DF;
}

.section-why__content {
    padding-top: 151px;
    width: 555px;
}


.section-why__content h2 {
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.section-why__content p {
    margin-top: 75px;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
}

.section-why__image{
    width: 525px;
    height: 100%;
    position: absolute;
    background: url('./Images/christopher-campbell-40367.png') no-repeat center top / cover;
    top: 0;
    right: 0;
}

@media screen and (max-width: 767px) {
    .main-section{
        background: #F4F9E2;
    }

    header{
        display: none;
    }

    .wrapper{
        width: 320px;
    }

    .main-section__content,
    .section-why__content{
        margin-top: 0;
        padding-top: 20px;
        width: auto;
    }

    .section-why{
        height: auto;
    }

    .section-why__image{
        margin:20px auto 0;
        position: relative;
        display: block;
        height: 604px;
        width: auto;
        background-position-x: left;
    }
}
